*{
    box-sizing: border-box;
}
body{
    background-color: #333;
    color: #fff;
}
/* ------------------------------------------------------------------------------------------
                                            STACKING CONTEXT
  El stacking context o el contexto de apilamiento es el espacio donde nuestros elementos se van a ir apilando para que unos queden por detrás y otros por delante.

  El orden del stacking context es: (de delante a atrás):
    Elementos posicionados con un z-index de 1 ó más
    Elementos posicionados sin z-index declarado (o z-index:auto)
    Elementos no posicionados
    Elementos con z-index negativo
*/

/* Diseño en los titulos */
.title{
    background-color: #fff;
}
h1.title{
    text-align: center;
    border: 5px solid darkred;
    color: darkred;
}
h2.title{
    border: 3px solid darkblue;
    color: darkblue;
}
h3.title{
    width: 20%;
    border: 3px solid darkcyan;
    color: darkcyan;
}
h4.title{
    width: 15%;
    border: 3px groove #fff;
}
/* diseño de los parrafos */
.text{
    background-color: silver;
    margin-left: 5%;
    margin-right: 5%;
    color: black;
    padding: 15px;
    border-radius: 3px;
}
/* diseño a las cajas de ejemplo y su container*/
.box{
    width: 200px;
    height: 200px;
    text-align: center;
}
.box-1{
    background-color: steelblue;
    margin-left: 534px;
}
.box-2{
    background-color: crimson;
    margin-top: -160px;
    margin-left: 554px;
}
.box-3{
    background-color:fuchsia;
    margin-top: -160px;
    margin-left: 574px;
}
.box-4{
    background-color:darkgreen;
    margin-top: -160px;
    margin-left: 594px;
}
.container{
    position: relative;
    z-index: -10;
    background-color:darkgray;
}

/* aplicando contexto de apilamiento en las cajas de ejemplo */
.container-2 .box{
    padding-top: 160px;
}
/* caja posicionada y con z-index (mayor prioridad) */
.container-2 .box-1{
    position: relative;
    z-index: 1;
}
/* caja posicionada sin z-index (prioridad alta) */
.container-2 .box-2{
    position: relative;
}
/* caja no posicionada (prioridad media) */
.container-2 .box-3{
    /* la caja no esta posicionada o en su defecto tiene el valor: */
    position: static;
    /* Ni tampoco tiene un valor de z-index, o en su defecto: */
    z-index: auto;
}
/* caja posicionada con z-index negativo (prioridad baja) */
.container-2 .box-4{
    position: relative;
    z-index: -1;
}

.container__padre{
    background-color: olive;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}
.title__hijo{
    background-color: burlywood;
    color: initial;
    text-align: center;
    margin: 0;
}
.text__hijo{
    margin: 0;
}