*{
    box-sizing: border-box;
}
body{
    background-color: #333;
    color: #fff;
}
/* ------------------------------------------------------------------------------------------
                                            STACKING CONTEXT
  El stacking context o el contexto de apilamiento es el espacio donde nuestros elementos se van a ir apilando para que unos queden por detrás y otros por delante.

  El orden del stacking context es: (de delante a atrás):
    Elementos posicionados con un z-index de 1 ó más
    Elementos posicionados sin z-index declarado (o z-index:auto)
    Elementos no posicionados
    Elementos con z-index negativo
*/

/* Diseño en los titulos */
.title{
    background-color: #fff;
}
h1.title{
    text-align: center;
    border: 5px solid darkred;
    color: darkred;
}
h2.title{
    border: 3px solid darkblue;
    color: darkblue;
}
h3.title{
    width: 20%;
    border: 3px solid darkgoldenrod;
    color: darkgoldenrod;
}
h4.title{
    width: 15%;
    border: 3px groove #fff;
}
/* diseño de los parrafos */
.text{
    background-color: silver;
    margin-left: 5%;
    margin-right: 5%;
    color: black;
    padding: 15px;
    border-radius: 3px;
}
/* diseño a las cajas de ejemplo y su container*/
.box{
    width: 200px;
    height: 200px;
}
.box-1{
    background-color: steelblue;
}
.box-2{
    background-color: crimson;
    margin-top: -160px;
    margin-left: 20px;
}
.box-3{
    background-color:fuchsia;
    margin-top: -160px;
    margin-left: 40px;
}
.box-4{
    background-color:darkgreen;
    margin-top: -160px;
    margin-left: 60px;
}
.container{
    background-color:darkgray;
}

.container-2 .box-1{
    position: relative;
    z-index: 2;
}
.container-2 .box-2{
    position: relative;
    z-index: 1;
}
.container-2 .box-3{
    position: relative;
}
.container-2 .box-4{
    z-index: -10;
}

