*{
    box-sizing: border-box;
}
body{
    background-color: #303030;
    color: #fff;
    margin: 1rem 4rem;
    font-family: "Yantramanav", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.title{
    max-width: max-content;
    margin-right: auto;
    margin-left: auto;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 2.5rem;
    margin-bottom: 2rem;
    text-shadow: 0 0 7px yellow;
    transition: all .3s ease;
}
::selection{
    background-color:gray;
    color:#000
}
.title:hover{
    
    text-decoration: underline;
    text-decoration-color: yellow;
    text-shadow: 0 0 20px yellow;
}

.content_title{
    /* width: 100%; */
    max-width: max-content;
    font-weight: 900;
    text-shadow: 0 0 7px #fff;
    text-transform: uppercase;
    transition: all .3s ease;
}
.content_title:hover{
    text-decoration: underline;
    text-decoration-color: #fff;
    text-shadow: 0 0 15px #fff;
}

p{
    font-size: 1.2rem;
    text-indent: 30px;
}

.list{
    list-style-type: none;
    padding: 0;
}
.container_list{
    background-color: #fff;
}
.content_span--color{
    background-color: black;
    padding: 3px;
    border-radius: 10px;
    transition: all .2s ease;
}
.content_span--color:hover{
    background-color: #fff;
    color: #000;
}

.img_grid{
    display: block;
    margin: 0 auto;
    width: 60%;
    height: 60%;
    border-radius: 10px;
}
/* todo                                                     GRID */
/* 
    Es un sistema de maquetación bidimensional en CSS Grid Layout que permite distribuir filas y columnas en una página web.

    Se compone de la siguiente forma:

        Contenedor: El elemento padre contenedor que definirá la cuadrícula o rejilla.
        Ítem: Cada uno de los hijos que contiene la cuadrícula (elemento contenedor).
        Celda (grid cell): Cada uno de los cuadritos (unidad mínima) de la cuadrícula.
        Area (grid area): Región o conjunto de celdas de la cuadrícula.
        Banda (grid track): Banda horizontal o vertical de celdas de la cuadrícula.
        Línea (grid line): Separador horizontal o vertical de las celdas de la cuadrícula.

     */
/*?                                                     GRID EXPLICITO */
/*  Distribucion de filas y columnas

    - grid-template-columns: cantidad y tamaño de las columnas
    - grid-template-row: cantidad y tamaño de las filas

    Tiene un shorthans el cual es el siguiente:
    - grid-template:	none | grid-template-rows / grid-template-columns	Atajo para definir dimensiones del grid.


    - funcion repeat(): se puede emplear para introducir valores repetidos sea en filas o columnas siempre y cuando sean adyacentes.


    Espaciado entre elementos

    - column-gap: Espaciado entre columnas
    - row-gap: Espaciado entre filas 

    shorthand: (r:row / c:column)

    - gap: r c;
*/

.container_grid{
    border: 3px solid #000;
    background-color:indigo;
    width: 80%;
    margin: 0 auto;
    transition: .3s cubic-bezier(0.47, 0, 0.745, 0.715);
}
.container_grid-explicit{
    display: grid;
    width: 100%;
    grid-template-columns: 15% repeat(2, 20%) 1fr 150px;
    grid-template-rows: 10% auto 50%;
    column-gap: 15px;
    row-gap: 18px;
    gap: 18px 15px;
}
.article_grid, .items{
    /* border: 1px solid #000; */
    background-color: rebeccapurple;
    text-align: center;
    align-content: center;
    border: 2px solid darkgray;
    transition: .3s cubic-bezier(0.47, 0, 0.745, 0.715);
}

.checkbox_gap:checked + .container_grid-explicit{
    gap: 0;
}


/*?                                                             GRID LINES */
/* 
    ubicacion de acuerdo a las lineas grid, sea filas o columnas

    Filas
    grid-row-start: linea inicial de fila
    grid-row-end:  lineal final de fila

    Columnas
    grid-column-start: linea inicial de columna
    grid-column-end: linea final de columna

    shorthand
    grid-row: start / end;
    grid-column: start / end;
*/

/*! primer ejemplo usando grid-lines, desplazando una celda de lugar */
.container_grid-lines{
    display: grid;
    grid-template-columns: repeat(5, 20%);
}

.container_grid-lines :nth-child(15){
    background-color: darkblue;
}
.check_g-lines:checked + .container_grid-lines :nth-child(15){
    grid-row-start: 4;
    grid-row-end: 5;
    grid-column-start: 3;
    grid-column-end: 4;

    background-color: darkred;
}

.span_grid{
    display: block;
    margin-bottom: 5px;
}
.span_grid::before{
    content: ' ';
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin-right: 10px;
    border: 1px solid #fff;
}

.span_grid--darkred::before{
    background-color: darkred;
}
.span_grid--darkblue::before{
    background-color: darkblue;
}
/* ! segundo ejemplo usando grid-lines, ampliando celdas */
/* 
    - grid-area: row-start / column-start / row-end / column-end

    - span: sirve para indicar que se van a agrupar varias filas y/o columnas.
*/

.container_grid-lines--second{
    display: grid;
    /* grid 4c x 4r */
    grid-template-columns: repeat(4, 25%);
    grid-template-rows: repeat(4, 1fr);
}

.span_grid--black::before{
    background-color: #000;
}
.span_grid--crimson::before{
    background-color: crimson;
}


.container_grid-lines--second :nth-child(5){
    background-color: #000;
}
.container_grid-lines--second :nth-child(2){
    background-color:crimson;
}
.check_g-lines--size:checked + .container_grid-lines--second :nth-child(5){
    grid-row: 2 / 3;
    grid-column: 2 / 4;

    grid-area: 2 / 2 / 3 / 4;
}

.check_g-lines--size:checked + .container_grid-lines--second :nth-child(2){
    grid-column: span 2;
}

/* ! tercer ejemplo usando grid-lines, posicionar con nombres a las grid-lines */
/* 
    - grid-row/column: [nombre de lines] tamaño de celda [nombre de lines] tamaño de celda [nombre de lines]...
                        grid-column/ row: nombre de linea / nombre de linea

    NOTA: "grid-area" no funciona con los nombres de lineas                    
*/

.container_grid-lines--three{
    display: grid;
    /* grid 4c x 5r */
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-template-columns: [linea-c1] 1fr [linea-c2] 1fr [linea-c3] 1fr [linea-c4] 1fr [linea-c5];
    grid-template-rows: [linea-r1] 1fr [linea-r2] 1fr [linea-r3] 1fr [linea-r4] 1fr [linea-r5] 1fr [linea-r6];
}

.check_g-lines--move:checked ~ .container_grid-lines--three :nth-child(1){
    grid-column: linea-c1 / linea-c5;
    grid-row: linea-r1 / linea-r3;
}

/*?                                                             GRID AREAS */
/* 
    grid-template-areas: mediante esta propiedad se puede posicionar areas definidas de una grid, mediante un nombre personalizado, definido por el usuario. 

    grid-area: su uso en este caso es para definir las areas, indicar el nombre de esa area, para posicionarlo con grid-template-areas.

        el "." indicara un espacio libre
 */

.container_grid-areas{
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: 5vw repeat(2, 12.5vw) 5vw;
    /* de esta forma se posicionaran las areas, de acuerdo a los nombres declarados con grid-areas: */
    grid-template-areas:
    "header header"
    "main imagen"
    ". imagen"
    "footer footer";
}
.header{
    grid-area: header;
}
.main{
    grid-area: main;
}
.container_img{
    grid-area: imagen;
    background-image: url(../assets/images/ft.jpg);
    background-repeat: no-repeat;
    background-position: left bottom;
    background-origin: border-box;
    background-size: cover;
    
}
.footer{
    grid-area: footer;
}

/*?                                                             GRID IMPLICITA */

    /* Los valores que toman los grid-items posterior a una grid explicita con filas y columnas declaradas, con valor auto por defecto, por lo que suelen adaptarse al tamaño de su contenido. */

    .container_grid-implicit{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 35%);
        margin-bottom: 6rem;
    }
    .check_grid-implicit:checked + .container_grid-implicit{
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(4, 1fr);
        margin-bottom: 0;        
    }
    .container_grid-implicit p::before{
        content: "Explicit ";
    }
    .check_grid-implicit:not(:checked) + .container_grid-implicit :nth-child(n + 10) p::before{
        content: "Implicit ";
    }
    .check_grid-implicit:not(:checked) + .container_grid-implicit :nth-child(n + 10){
        background-color:darkblue;
    }

/*?                                                             INLINE GRID */
   
    /* No es mas que el modelo Grid con comportamiento en linea, por lo que a ocupar el espacio de su contenido. */

    .container_grid-inline-grid{
        display: inline-grid;
        width: 40%;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }
    .container_grid-inline-grid:first-of-type{
        margin-left: 9.9%;
    }

/*?                                                             FLUJO DE LA GRID (GRID FLOW)*/
/* 
    Direccion de la grid, por defecto en filas, pero puede cambiarse a columnas con la siguiente propiedad:

    - grid-auto-flow: row (por defecto) | column

    los grid items implicitos sea en filas o columnas, por defecto tendran el valor "auto" lo que significa que van a tomar el tamaño correspondiente a su contenido, pero puede modificarse a valores especificos, mediante la siguiente propiedad:

    - grid-auto-rows: auto (por defecto) | size
    - grid-auto-columns: auto (por defecto) | size
 */

    .container_grid-flow{
        display: grid;
        width: 800px;
        height: 400px;
        /* g 3x3 */
        grid-template: repeat(3, 80px) / repeat(3, 180px);
    }

    .container_grid-auto-flow .article_grid:nth-of-type(-n + 3){
        background-color: #000;
    }   
    .check_grid-flow:checked ~ .container_grid-flow{
        grid-auto-flow: column;
    }

    .check_grid-flow + label::after{
        content: 'Row';
    }
    .check_grid-flow:checked + label::after{
        content: 'Column';
    }

    .check_grid-flow-rc:checked ~ .container_grid-flow{
        grid-auto-rows: 80px;
    }
    .check_grid-flow:checked ~ .check_grid-flow-rc:checked ~ .container_grid-flow{
        grid-auto-columns: 180px;
    }

/*?                                                            FLUJO DENSO DE LA GRID (GRID FLOW DENSE)*/
/* 
    Direccion de la grid, por defecto en filas, pero puede cambiarse a columnas con la siguiente propiedad:

    - grid-auto-flow: row (por defecto) | column

    los grid items implicitos sea en filas o columnas, por defecto tendran el valor "auto" lo que significa que van a tomar el tamaño correspondiente a su contenido, pero puede modificarse a valores especificos, mediante la siguiente propiedad:

    - grid-auto-rows: auto (por defecto) | size
    - grid-auto-columns: auto (por defecto) | size
 */


