*{
    box-sizing: border-box;
}
body{
    background-color: #303030;
    color: #fff;
    margin: 1rem 4rem;
    font-family: "Yantramanav", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.title{
    max-width: max-content;
    margin-right: auto;
    margin-left: auto;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 2.5rem;
    margin-bottom: 2rem;
    text-shadow: 0 0 7px yellow;
    transition: all .3s ease;
}
::selection{
    background-color:gray;
    color:#000
}
.title:hover{
    
    text-decoration: underline;
    text-decoration-color: yellow;
    text-shadow: 0 0 20px yellow;
}

.content_title{
    /* width: 100%; */
    max-width: max-content;
    font-weight: 900;
    text-shadow: 0 0 7px #fff;
    text-transform: uppercase;
    transition: all .3s ease;
}
.content_title:hover{
    text-decoration: underline;
    text-decoration-color: #fff;
    text-shadow: 0 0 15px #fff;
}

p{
    font-size: 1.2rem;
    text-indent: 30px;
}

.list{
    list-style-type: none;
    padding: 0;
}
.container_list{
    background-color: #fff;
}
.content_span--color{
    background-color: black;
    padding: 3px;
    border-radius: 10px;
    transition: all .2s ease;
}
.content_span--color:hover{
    background-color: #fff;
    color: #000;
}

/* todo                                                     GRID */

/*? GRID EXPLICITO */
                /* Distribucion de filas y columnas

    - grid-template-columns: cantidad y tamaño de las columnas
    - grid-template-row: cantidad y tamaño de las filas

    funcion repeat(): se puede emplear para introducir valores repetidos sea en filas o columnas siempre y cuando sean adyacentes.


                    Espaciado entre elementos

    - column-gap: Espaciado entre columnas
    - row-gap: Espaciado entre filas 

    shorthand: (r:row / c:column)

    - gap: r c;
*/

.container_grid{
    border: 3px solid #000;
    background-color:indigo;
}
.container_grid-explicit{
    display: grid;
    grid-template-columns: 15% repeat(2, 20%) 1fr 150px;
    grid-template-rows: 10% auto 50%;
    column-gap: 15px;
    row-gap: 18px;
    gap: 18px 15px;
    transition: .3s ease;
}
.article_grid{
    /* border: 1px solid #000; */
    background-color: rebeccapurple;
    text-align: center;
    align-content: center;
    border: 2px solid darkgray;
    transition: .3s cubic-bezier(0.47, 0, 0.745, 0.715);
}

.checkbox_gap:checked + .container_grid-explicit{
    gap: 0;
}


/*? GRID LINES */
/* 
    ubicacion de acuerdo a las lineas grid, sea filas o columnas

    Filas
    grid-row-start: linea inicial de fila
    grid-row-end:  lineal final de fila

    Columnas
    grid-column-start: linea inicial de columna
    grid-column-end: linea final de columna

    shorthand
    grid-row: start / end;
    grid-column: start / end;
     */

/*!               primer ejemplo usando grid-lines, desplazando una celda de lugar */
.container_grid-lines{
    display: grid;
    grid-template-columns: repeat(5, 20%);
    transition: .3s ease;
}

.container_grid-lines :nth-child(15){
    background-color: darkblue;
}
.check_g-lines:checked + .container_grid-lines :nth-child(15){
    grid-row-start: 4;
    grid-row-end: 5;
    grid-column-start: 3;
    grid-column-end: 4;

    background-color: darkred;
}



/* !                        segundo ejemplo usando grid-lines, ampliando celdas */

.container_grid-lines--second{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 33%);
}



.check_g-lines--size:checked + .container_grid-lines--second :nth-child(5){
    grid-row: 1 / 3;
    grid-column: 1 / 2;
}


