*{
    box-sizing: border-box;
}
body{
    background-color: #4e4e4e;
    color: #fff;
    margin: 0;
}

/* ? -----------------------------------------------------------------------------------------------------------------------------------
                                                                ? DISEÑO GENERAL*/

/* Diseño en los titulos */
.title{
    background-color: #fff;
}
h1.title{
    text-align: center;
    border: 5px solid darkred;
    color: darkred;
}
h2.title{
    border: 3px solid darkblue;
    color: darkblue;
}
h3.title{
    text-align: center;
    width: 20%;
    margin-left: auto;
    margin-right: auto;
    border: 3px solid darkcyan;
    color: darkcyan;
}
h4.title{
    text-align: center;
    width: 15%;
    margin-left: auto;
    margin-right: auto;
    border: 3px solid dimgrey;
    color: dimgrey;
}
/* diseño contenedor */
.container{
    background-color:darkgray;
}
/* diseño de texto*/
.text{
    background-color: silver;
    margin-left: 5%;
    margin-right: 5%;
    color: black;
    padding: 15px;
    border-radius: 3px;
}
/* * ----------------------------------------------------------------------------------------------------------------------
                                                        *   COLORES

   La mayoría las pantallas funcionan con un modo de color aditivo. La suma de RGB da como resultado un blanco
   Tenemos varias formas de dar color en CSS

    Keywords -> Palabras clave que representan colores https://www.w3.org/wiki/CSS/Properties/color/keywords
    
    IMPORTANTE: Recordad que existe el color "transparent"
*/
.container{
    text-align: center;
}
.container_box{
    display: inline-block;
    width: 12.5rem;
    height: 12.5rem;
    padding-top: 5rem;
    margin-right: 2em;
}
/* color por nombre */
.box_box-1{
    background-color: yellow;
    color: black;
}
/* color hexadecimal */
.box_box-2{
    background-color: #0000FF;
}
/* color rgb */
.box_box-3{
    background-color: rgb(255, 0, 0);
}
/* crear bandera en base a colores y border */
.container_flag{
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    border-left: 100px solid #0000CD;
    border-top: 100px solid #fff;
    border-bottom: 100px solid #B22222;
    width: 350px;
}
/* empleo de transparent en colores */
.container_triangle{
    width: 300px;

    /* border toma forma trangular */
    border-top: 150px solid darkblue;
    /* estos border elementos con forma rectangular desaparecen por el transparent */
    border-left: 150px solid transparent;
    border-right: 150px solid transparent;

    margin-left: auto;
    margin-right: auto;
}

/* --------------------------------------------------------------------------------------------------------------------------
                                                                    CurrentColor 
    
    Es una palabra clave que se puede usar en lugar de cualquier valor de color y usará el valor ya sea establecido o heredado en la propiedad color. 
*/
/* declarando un color de fuente al contenedor padre de los dos elementos, para demostrar propiedad currentcolor */
.container-currentcolor{
    color: steelblue
}
/* primera caja hija, con la propiedad currentcolor */
.container-currentcolor_box{
    position: relative;

    /* al tener el padre un color de fuente declarado, con la propiedad currentcolor, se adapta a ese color, en caso de que no estuviese declarado en su elemento padre mas proximo, tomaria el anterior, en este caso, tomaria el del body. */
    background-color: currentColor;
}
/* ! configurando texto dentro de las cajas hijas de ejemplo, no interfiere con la practica solo es visual */
.container_text{
    position: absolute;
    margin: 0 20px;
    color: black;
}
    /* la otra caja de ejemplo tiene un border, sin un color declarado, en estas situaciones, el border automaticamente se adapta al color del padre mas cercano tal como la propiedad currentcolor. Por esta razon tiene el mismo color de la otra caja. */
.container-currentcolor_border{
    position: relative;
    border: 5px solid;
}

/* -------------------------------------------------------------------------------------------------------------------------- 
                                                                        RGB/RGBA

    En el modo RGB tenemos tres canales (Red, Green, Blue) y tenemos 8 bits de color por canal, (cada bit tiene dos posibles valores 0 ó 1) lo que significa que tenemos 2^8 posibles valores, que van desde 0 hasta 255.
    
    Esto nos da un total de 255 * 255 * 255 = 16.581.375 colores.

    Su sintaxis es rgb(R,G,B)

    Si ponemos todos los canales a 0 tendremos un negro puro y si los ponemos a 255 tendremos un blanco.

    Para movermos por la gama de grises debemos poner los 3 canales con el mismo valor, si ponemos los 3 canales a 128 tendremos el gris puro.

    El modo RGB nos da la opción de utilizar un cuarto canal que correspondería al canal alpha, es decir, la transparencia, y su valor va desde 0 a 1. Tenemos dos sintaxis para utilizar el canal aplha
      rgba(R,G,B,A)
      rgb(R G B / A) 
*/

/* al usar el valor mas alto en cada canal y en los demas el minimo, ese color prevalecera como se ve: */

/* Primer canal color rojo */
.container_box-rgb-red{
    background-color: rgb(255, 0, 0);
}
/* Segundo canal color verde */
.container_box-rgb-lime{
    background-color: rgb(0, 255, 0);
}
/* Tercer canal color azul */
.container_box-rgb-blue{
    background-color: rgb(0, 0, 255);
}

/* !subir la altura del contenedor para mejora visual */
.container-height-modify{
    height: 210px;
}

/* demostracion de rgba con una sombra a la caja */
.container_box_rgba{
    background-color: rgb(128,128,128);
    box-shadow: 10px 10px 10px rgba(0,0,0,.5);
}


/* -------------------------------------------------------------------------------------------------------------------------- 
                                                                        HEXADECIMAL 

    La notación hexadecimal es la más común en desarrollo web, se basa en los mismos principios que el RGB pero escrito en notación hexadecimal.

    El sistema hexadecimal es un sistema basado en 16 valores del 0 al 15
    Utiliza los dígitos del 0 al 9 y las letras de la A a la F
    
    En este tipo de notacíon también necesitamos 256 valores.

    Se compone de 16 caracteres en parejas ya que 16*16 = 256
    0 1 2 3 4 5 6 7 8 9 A B C D E F
    0 1 2 3 4 5 6 7 8 9 A B C D E F

    Para indicar que vamos a usar notación hexadecimal debemos usar el símbolo de hash/almohadilla # y a continuación usaremos esta notación por parejas.
    #RRGGBB
    Cuando una pareja usa el mismo valor se puede omitir el segundo valor, siempre que se haga en las 3 parejas.

    rgb(255,255,255) -> #FFFFFF -> #FFF
    rgb(0,0,0) -> #000000 -> #000

    También tenemos la opción de usar transparencias en hexadecimal añadiendo un cuarto canal que sigue las mismas normas.

    rgb(0 0 0 / .5) -> #00000080 ~> #0007
 */

.container_box_hexadecimal{

    /* los valores hexadecimales como su nombre indica se compone de seis valores, en donde de igual manera que el rgb, se compone por los colores rojo, verde y azul, pero por medio de parejas en cada canal. Como ejemplo: (rojo) 00 (verde) 00 (azul) 00, al ser el valor minimo de cada uno, vendria a ser el color negro. */

    background-color: #000000;

    /* en el caso de que las parejas sean iguales, se puede simplicar a 3 valores, tal como se acontinuacion: 00 00 00 = 000. */
    background-color: #000;
}
.container_box_hexadecimal_shadow{

    /* en el caso de que se agregue un canal alpha en hexadecimal, se agrega mediante un cuarto canal con un pareja. */

    background-color: #000;

    /* aqui se hace la prueba con un box-shadow usando un color hexadecimal y un canal alpha de 9, que vendria a funcionar similar al rgb, en este caso como si tuviese un 0.6 de opacidad */
    box-shadow: 10px 10px 10px #0009;
}