body{
    background-color: #333;
    color: #fff;
}   
                           
                           /* BOX MODEL/MODELO DE CAJA
Elementos de bloque: son aquellos elementos a los cuales ocupan todo el ancho de la pantalla (viewport). Pueden contener varios elementos de linea o de bloque.
Elementos de linea: son aquellos elementos que ocupan unicamente el ancho de su contenido. 

    DIMENSIONES: Medidas de la caja, su unidad puede ser el pixel (px), centimentro (cm) y muchas más.
    Width: Ancho de la caja
    Height: Alto de la caja.


.block{
    background-color: purple;
    width: 200px;
    height: 200px;
    
    *elementos de bloque puede tener dimensiones de alto y ancho (width y height)*
}
.inline{
    background-color: lightcoral;
    color: inherit;
    width: 200px;
    height: 200px;

    * elementos de linea no pueden tener dimensiones, al estar condicionado al contenido que tenga *
} */


/* ----------------------------------------------------------------------------------

    MARGIN:
            Es la propiedad que nos permite generar espacio entre elementos.
            Es un shorthand (propiedad abreviada) que controla los 4 lados posibles a los que dar márgenes.
            margin-top: Margen superior
            margin-right: Margen derecho
            margin-bottom: Margen inferior
            margin-left: Margen izquierdo

            Admite hasta 4 valores que van en el orden de las agujas del reloj.
            4 valores -> margin:top right bottom left;
            3 valores -> margin: top left/right bottom;
            2 valores -> margin: top/bottom left/right;
            1 valor -> margin: top/right/bottom/left

 

  
        Los elementos de bloque pueden movilizarse con los margenes (siempre y cuando tengas dimensiones declaradas width y height) en cualquier posicion. 
        
        Con un valor de auto el navegador calculara el espaciado de forma automatica, es de decir, si manejamos margin-right:auto el contenedor se movera totalmente a la izquierda y margin-left:auto todo lo contrario y pr ultimo si podemos auto tanto en right como left, el contenedor se centrara automaticamente, ya que pone el mismo margen tanto en la derecha como a la izquierda
 

        *los h1 por ejemplo son elementos de bloque, en en caso el contenedor se centra en relacion a el viewport o todo lo que vemos en la pantalla, sin embargo, el contenido que es el texto que esta adentro, no, y esto es porque ese contenido debe centrarse de acuerdo a su propio contenedor y esto se logra con otra propiedad que se vera mas adelante 

.title{
    background-color: lightcoral;
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
}

    * con esto se da diseño a todas las cajas que tengan esta clase 

.block{
    background-color: purple;
    width: 160px;
    height: 160px;
    margin-bottom: 20px;
}
    * Con esto se prueban las formas de usar el margin en cada elemento de bloque y cada contenedor

.box1{
    margin-right: auto;
}
.box2{
    margin-left: auto;
}
.box3{
    margin-left: auto;
    margin-right: auto;
}

    * Los elementos de linea, SOLO puede trabajar de forma horizontal, es decir, si ponemos un margen left o right funcionara con normalidad, pero no funcionara con top o bottom. 


.inline{
    margin-top: 50px;
    background-color: lightcoral;
    margin-left: 40px;
}

    * Como se puede observar, por mas que se puede insertar un valor en margin-top, este no funcionara cuando se observar en el servidor.
*/

/* ----------------------------------------------------------------------------------
                                       ERRORES MARGIN

    *Cuanto se esta tocando temas de diseño, hay algunos errores frecuentes que se realizan como puede ser: 

        *{
            margin: 0;
            padding: 0;
        }
   
    Suele ser considerada una mala practica, ya que se pierden todos los valores por defecto de todos los margenes, y se recurriria a sobreescribir los margenes de cada contenedor, elemento o clase que se tenga.

    *Otro problema podria ser utilizar margin: 0 auto (0 para top y bottom, auto para left y right) debido a que sobreescribe por cascada cualquier valor anterior que se tenga sobre top y bottom, por lo tanto es innecesario, y es mejor recurrir al margin-right:auto y margin-left:auto.


    
    *Lo que si se puede realizar es agregar un margin: 0 en el body, debido a que este por defecto trae un margen de 8px, lo que puede ocasionar que el contenedor no este completamente posicionado en el borde superior. 
    
    body{
        margin:0
    }


    .header{
        background-color: tomato;
    }
    .title{
        background-color:darkorange;
    }
    .box{
        width: 500px;
        height: 200px;
        margin-top: 100px;
        margin: 0 auto;

        * el valor 0 en el margin sobreescribe el valor de margin-top incluido arriba de el por cascada, por lo cual no tiene ningun sentido ponerlo de esta forma

        * esta siempre sera la forma recomendada de centrar un elemento 

        margin-left: auto;
        margin-right: auto;

        margin-top: 100px;
        background-color: purple;
    }

    ul{
        margin-left: 40px;
    }
*/

/* ----------------------------------------------------------------------------------
                                        PADDING

    Es la propiedad que nos permite generar espacio interno entre el borde y la caja
    Es un shorthand (propiedad abreviada) que controla los 4 lados posibles a los que dar padding.

    padding-top: padding superior
    padding-right padding derecho
    padding-bottom: padding inferior
    padding-left: padding izquierdo

    Admite hasta 4 valores que van en el orden de las agujas del reloj
    4 valores --> padding: top rigth bottom left
    3 valores --> padding: top right/left bottom
    2 valores --> padding top/bottom rigth/left
    1 valor --> padding top/right/bottom/left



.box{
    width: 100px;
    height: 100px;
    background-color: chocolate;
    margin-bottom: 15px;
}

.box-1{
    padding-top: 40px;
}
.box-2{
    padding-right: 40px;
}
.box-3{
    padding-bottom: 40px;
}
.box-4{
    padding-left: 40px;
}

   *Todas van a medir lo mismo
.box-5{
    padding: 40px 40px 40px 40px;
}
.box-6{
    padding: 40px 40px 40px;
}
.box-7{
    padding: 40px 40px;
}
.box-8{
    padding: 40px;
}

*/

/* ----------------------------------------------------------------------------------
                                        BORDER
        Es la propiedad que nos permite modificar el borde de la caja.
        Es una shorthand (propiedad abreviada) que agrupa 3 propiedades
            *border-width: ancho del borde
                °border-top-width
                °border-right-width
                °border-bottom-width
                °border-left-width
            border-style: estilo del borde
                °border-top-style
                °border-right-style
                °border-bottom-style
                °border-left-style
                    Listado de valores para style:
                        none
                        hidden
                        dotted
                        dashed
                        solid
                        double
                        groove
                        rigde
                        inset
                        outset
            border-color: color del borde
                °border-top-color
                °border-right-color
                °border-bottom-color
                °border-left-color


.button{
    padding: 20px;
    border: 15px solid black;
    margin-bottom: 30px;
}
.border{
    border-width: 10px;
    border-style: solid;
    border-color:deeppink;
    
    * esta es una forma de simpiflicar los 3 valores anteriores, y el resultado es el mismo
}

        * Las combinaciones de los border pueden ser muy variadas, y se pueden ir combinando tal como se puede ver: 

.border-2{
    border-top-width: 10px;
    border-right-width: 20px;
    border-bottom-width: 30px;
    border-left-width: 40px;
}

.border-3{
    border-top-style: solid;
    border-right-style: dotted;
    border-bottom-style: groove;
    border-left-style: outset;
}

.border-4{
    border-top-color: green;
    border-right-color: blue;
    border-bottom-color: red;
    border-left-color: orange;
}

/* ----------------------------------------------------------------------------------
                                        BOX SIZING
        Es la propiedad que nos permite controlar el calculo que hace el navegador a la hora de modificar las propiedades content, padding y border.
        Los 2 valores que podemos darle son
            *Content-box -> Valor por defecto
            *border-box -> Calculo de tamaño del elemento
            incluyendo el padding y el border
*/

.box{
    width: 150px;
    height: 150px;
    border: 5px solid red;
    background-color: steelblue;
    margin-bottom: 15px;
}

    /* content-box (por defecto): Aqui los valores no se modifican bajo ningun aspecto, es decir, como ejemplo este caso, donde el contenedor tiene unas dimensiones 150x150 y al haber un padding de 20px en todos sus lados, estos se le suman al valor inicial.

    Por lo cual las medidas terminarian siendo: width: 150px + 40px padding top y bottom + 10px border top y bottom= 200px/ height: 150px + 40px padding right y left + 10px border right y left = 200px. Por lo que cambiaria a 200 x 200. */

.box-1{
    padding: 20px;
}

    /* border-box: Aqui los valores si se veran afectados dependiendo de los cambios que se hagan, el navegador recalculara de modo que se mantengan los valores iniciales, es decir, en este caso el contenedor tiene unas dimensiones de 150x150, y que por mas que se agregue padding o border, lo que agranda el tamaño del contenedor, siempre se mantendra en 150x150. */

.box-2{
    box-sizing: border-box;
    padding: 20px;
}

/* como solucion se recomienda usar la propiedad border-box, con el selector universal, para aplicar en todo el diseño.

    *{
        box-sizing: border-box;
    } */










    


