*{
    box-sizing: border-box;
}
body{
    background-color: #4e4e4e;
    color: #fff;
    margin: 0;
}

/* ? -----------------------------------------------------------------------------------------------------------------------------------
                                                                ? DISEÑO GENERAL*/

/* Diseño en los titulos */
.title{
    background-color: #fff;
}
h1.title{
    text-align: center;
    border: 5px solid darkred;
    color: darkred;
}
h2.title{
    border: 3px solid darkblue;
    color: darkblue;
}
h3.title{
    text-align: center;
    width: 20%;
    margin-left: auto;
    margin-right: auto;
    border: 3px solid darkcyan;
    color: darkcyan;
}
h4.title{
    text-align: center;
    width: 15%;
    margin-left: auto;
    margin-right: auto;
    border: 3px solid dimgrey;
    color: dimgrey;
}
/* diseño contenedor */
.container{
    background-color:darkgray;
}
/* diseño de texto*/
.text{
    background-color: silver;
    margin-left: 5%;
    margin-right: 5%;
    color: black;
    padding: 15px;
    border-radius: 3px;
}
/* 
*-----------------------------------------------------------------------------------------------------
*                                                    TIPOGRAFIA Y FUENTES

  La tipografía es la ciencia que estudia el diseño y uso de los tipos de letra

  Las fuentes son tipos específicos de letra

  Los glifos son cada uno de los dibujos que representan cada símbolo de la fuente, incluidos los espacios.

  Los estilos de fuente son las modificaciones que se hacen a las fuentes, como el grosor o la inclinación.

  Familia tipográfica, son las diferentes fuentes que pertenecen a una misma fuente base.

  Cuando usamos una propiedad text-* estamos afectando a un bloque completo

  Cuando utilizamos una propiedad font-* afectamos a la fuente del texto.

  Fuentes predeterminadas, son las fuentes que se consideran seguras ya que son genéricas y no establecen una familia tipográfica, si no un estilo de fuente.
    serif: Fuentes que tienen serifas (adornos en los caracteres)

    sans-serif: Fuentes sin serifas

    monospace: Fuentes que tienen el mismo espaciado entre todos sus caracteres.

    cursive: Fuentes que pretenden emular escritura a mano, con ligaduras y trazos fluidos

    fantasy: Fuentes que suelen ser decorativas
*/

/* Agregando margen a los lados en el texto de las fuentes */
.text-cursive, .text-fantasy, .text-monospace, .text-sans_serif, .text-serif, .text-importfont{
    margin-left: 10%;
    margin-right: 10%;
}

/* diseño a los textos de fuentes predeterminadas */
.text-serif{
    font-family: serif;
}
.text-monospace{
    font-family: monospace;
}
.text-sans_serif{
    font-family: sans-serif;
}
.text-cursive{
    font-family: cursive;
}
.text-fantasy{
    font-family: fantasy;
}

 /* -----------------------------------------------------------------------------------------------
                                                    FUENTES IMPORTADAS
 
 Fuentes desde un servidor remoto, son fuentes que se encuentran en un servidor y que nosotros descargamos para su uso, la más famosa es Google Fonts

  Siempre que utilicemos fuentes no genéricas, debemos poner fuentes genéricas de fallback (respaldo) 
*/

/* todo / ESTAS CLASES SON PARA DECLARAR LAS PROPIEDADEDS DE LA FUENTE IMPORTADA DE GOOGLE FONTS, EN ESTE CASO LA FUENTE LOBSTER-TWO

.lobster-two-regular {
  font-family: "Lobster Two", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.lobster-two-bold {
  font-family: "Lobster Two", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.lobster-two-regular-italic {
  font-family: "Lobster Two", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.lobster-two-bold-italic {
  font-family: "Lobster Two", sans-serif;
  font-weight: 700;
  font-style: italic;
} */


/* APLICANDO LA FUENTE IMPORTADA A UN PARRAFO */

.text-importfont{
    font-family: "Lobster Two", sans-serif;
    font-weight: 400;
    font-style: italic;
}


/* 
                                                        Google Icons

    Material Icons
       https://fonts.googleapis.com/css?family=Material+Icons
    Material Icons Outlined
       https://fonts.googleapis.com/css?family=Material+Icons+Outlined
    Material Icons Two Tone
       https://fonts.googleapis.com/css?family=Material+Icons+Two+Tone
    Material Icons Rounded
       https://fonts.googleapis.com/css?family=Material+Icons+Round
    Material Icons Sharp
       https://fonts.googleapis.com/css?family=Material+Icons+Sharp
      
    Nota: Si vas a usar una gran cantidad de iconos en tu web compensa usar la librería remota
    Si sólo usarás unos pocos es mejor descargarlos en formato svg y utilizarlos como imágenes 
*/


/* centrando contenido */
.container_search{
    text-align: center;
}

/* En el icono importado si funciona la propiedad font-size, ya que este a fin de cuentas es una fuente, por lo que toma esos valores. Por otro lado el SVG ya no es una fuente, por lo que requiere de otras propiedades para modificar su diseño */


/* aumentando tamaño de icono de busqueda importado */
.icon{
    font-size: 3rem;
    color: #000;
}
/* detalles en los dos iconos de busqueda */
span{
    margin-right: 20px;
    color: #000;
}


/* 
                                                    Formatos para fuentes

      True Type Font (TTF) -> Fue el primer formato estándar.

      Open True Type Font (OTF) -> Facilita o implementa la creación de las curvas.

      Web Open Font Format (WOFF) (WOFF2) -> Es un formato mucho más ligero y mejora el rendimiento. Funciona a través de metadatos. WOFF tiene soporte total y WOFF2 no funciona en internet explorer.

      Scalable Vector Graphics (SVG) -> Para efectos y animaciones sobre el texto, no es recomendable usarlo en el texto genérico de la web, tiene muchos problemas.

      Embedded Open Type (EOT) -> Primer formato digital propuesto para sitios WEB y es comprimido. Se quedó como una propuesta pero no pasó a ser un estándar. 


       Regla @font-face
      Esta es la forma de utilizar fuentes que tenemos descargadas y que no traemos de un servidor remoto, cuando usamos google fonts, esto es lo que está pasando por detrás.

      La sintaxis es:
         @font-face {
            font-family: Nombre de la familia, se lo asignamos nosotros;
            src: aquí pondremos dos tipos de valores.
               local() -> pondremos el nombre de la fuente para buscarla en el ordenador del usuario, de esa forma podremos evitar descargarla
               url() -> Si no encontramos esa fuente procederemos a descargarla.
               Existe otro valor, menos usado que es format
               format() -> Este valor lo pasaremos de forma opcional si queremos ser más específicos con la fuente que vamos a buscar o descargar, si no lo ponemos cogerá el primer formato soportado, si lo ponemos sólo usará el que hemos establecido, y si no lo encuentra no hará nada. 
         }

         Podemos añadirle más valores como font-style, font-weight y font-display(experimental), pero esos son opcionales.

*/

@font-face {
            /* nombre cualquiera */
            font-family: 'Great Vibes';
            
            /* local sirve si el usuario tiene previamente descargada la fuente */
            src: local('Great Vibes'), url(../assets/fonts/GreatVibes-Regular.ttf);
            /* caso contrario se descargar con la propiedad Url (SIEMPRE IMPORTANTE AGREGAR LA COMA DESDE DE LOCAL SI SE USA) */
         }

.text_fontface{
    font-family: 'Great Vibes';
    font-size: 1.5rem;
}
