*{
    box-sizing: border-box;
}
body{
    background-color: #4e4e4e;
    color: #fff;
    margin: 0;
}

/* ? -----------------------------------------------------------------------------------------------------------------------------------
                                                                ? DISEÑO GENERAL*/

/* Diseño en los titulos */
.title{
    background-color: #fff;
}
h1.title{
    text-align: center;
    border: 5px solid darkred;
    color: darkred;
}
h2.title{
    border: 3px solid darkblue;
    color: darkblue;
}
h3.title{
    text-align: center;
    width: 20%;
    margin-left: auto;
    margin-right: auto;
    border: 3px solid darkcyan;
    color: darkcyan;
}
h4.title{
    text-align: center;
    width: 15%;
    margin-left: auto;
    margin-right: auto;
    border: 3px solid dimgrey;
    color: dimgrey;
}
/* diseño contenedor */
.container{
    background-color:darkgray;
}
/* diseño de texto*/
.text{
    background-color: silver;
    margin-left: 5%;
    margin-right: 5%;
    color: black;
    padding: 15px;
    border-radius: 3px;
}
/* 
*-----------------------------------------------------------------------------------------------------
*                                                    TIPOGRAFIA Y FUENTES

  La tipografía es la ciencia que estudia el diseño y uso de los tipos de letra

  Las fuentes son tipos específicos de letra

  Los glifos son cada uno de los dibujos que representan cada símbolo de la fuente, incluidos los espacios.

  Los estilos de fuente son las modificaciones que se hacen a las fuentes, como el grosor o la inclinación.

  Familia tipográfica, son las diferentes fuentes que pertenecen a una misma fuente base.

  Cuando usamos una propiedad text-* estamos afectando a un bloque completo

  Cuando utilizamos una propiedad font-* afectamos a la fuente del texto.

  Fuentes predeterminadas, son las fuentes que se consideran seguras ya que son genéricas y no establecen una familia tipográfica, si no un estilo de fuente.
    serif: Fuentes que tienen serifas (adornos en los caracteres)

    sans-serif: Fuentes sin serifas

    monospace: Fuentes que tienen el mismo espaciado entre todos sus caracteres.

    cursive: Fuentes que pretenden emular escritura a mano, con ligaduras y trazos fluidos

    fantasy: Fuentes que suelen ser decorativas
*/

/* Agregando margen a los lados en el texto de las fuentes */
.text-cursive, .text-fantasy, .text-monospace, .text-sans_serif, .text-serif, .text-importfont{
    margin-left: 10%;
    margin-right: 10%;
}

/* diseño a los textos de fuentes predeterminadas */
.text-serif{
    font-family: serif;
}
.text-monospace{
    font-family: monospace;
}
.text-sans_serif{
    font-family: sans-serif;
}
.text-cursive{
    font-family: cursive;
}
.text-fantasy{
    font-family: fantasy;
}

 /* -----------------------------------------------------------------------------------------------
                                                     * FUENTES IMPORTADAS
 
 Fuentes desde un servidor remoto, son fuentes que se encuentran en un servidor y que nosotros descargamos para su uso, la más famosa es Google Fonts

  Siempre que utilicemos fuentes no genéricas, debemos poner fuentes genéricas de fallback (respaldo) 
*/

/* todo / ESTAS CLASES SON PARA DECLARAR LAS PROPIEDADEDS DE LA FUENTE IMPORTADA DE GOOGLE FONTS, EN ESTE CASO LA FUENTE LOBSTER-TWO

.lobster-two-regular {
  font-family: "Lobster Two", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.lobster-two-bold {
  font-family: "Lobster Two", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.lobster-two-regular-italic {
  font-family: "Lobster Two", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.lobster-two-bold-italic {
  font-family: "Lobster Two", sans-serif;
  font-weight: 700;
  font-style: italic;
} */


/* APLICANDO LA FUENTE IMPORTADA A UN PARRAFO */

.text-importfont{
    font-family: "Lobster Two", sans-serif;
    font-weight: 400;
    font-style: italic;
}


/* 
*                                                       Google Icons

    Material Icons
       https://fonts.googleapis.com/css?family=Material+Icons
    Material Icons Outlined
       https://fonts.googleapis.com/css?family=Material+Icons+Outlined
    Material Icons Two Tone
       https://fonts.googleapis.com/css?family=Material+Icons+Two+Tone
    Material Icons Rounded
       https://fonts.googleapis.com/css?family=Material+Icons+Round
    Material Icons Sharp
       https://fonts.googleapis.com/css?family=Material+Icons+Sharp
      
    Nota: Si vas a usar una gran cantidad de iconos en tu web compensa usar la librería remota
    Si sólo usarás unos pocos es mejor descargarlos en formato svg y utilizarlos como imágenes 
*/


/* centrando contenido */
.container_center{
    text-align: center;
}

/* En el icono importado si funciona la propiedad font-size, ya que este a fin de cuentas es una fuente, por lo que toma esos valores. Por otro lado el SVG ya no es una fuente, por lo que requiere de otras propiedades para modificar su diseño */


/* aumentando tamaño de icono de busqueda importado */
.icon{
    font-size: 3rem;
    color: #000;
}
/* detalles en los dos iconos de busqueda */
span{
    margin-left: 20px;
    color: #000;
}


/* 
*                                                    Formatos para fuentes

      True Type Font (TTF) -> Fue el primer formato estándar.

      Open True Type Font (OTF) -> Facilita o implementa la creación de las curvas.

      Web Open Font Format (WOFF) (WOFF2) -> Es un formato mucho más ligero y mejora el rendimiento. Funciona a través de metadatos. WOFF tiene soporte total y WOFF2 no funciona en internet explorer.

      Scalable Vector Graphics (SVG) -> Para efectos y animaciones sobre el texto, no es recomendable usarlo en el texto genérico de la web, tiene muchos problemas.

      Embedded Open Type (EOT) -> Primer formato digital propuesto para sitios WEB y es comprimido. Se quedó como una propuesta pero no pasó a ser un estándar. 


       Regla @font-face
      Esta es la forma de utilizar fuentes que tenemos descargadas y que no traemos de un servidor remoto, cuando usamos google fonts, esto es lo que está pasando por detrás.

      La sintaxis es:
         @font-face {
            font-family: Nombre de la familia, se lo asignamos nosotros;
            src: aquí pondremos dos tipos de valores.
               local() -> pondremos el nombre de la fuente para buscarla en el ordenador del usuario, de esa forma podremos evitar descargarla
               url() -> Si no encontramos esa fuente procederemos a descargarla.
               Existe otro valor, menos usado que es format
               format() -> Este valor lo pasaremos de forma opcional si queremos ser más específicos con la fuente que vamos a buscar o descargar, si no lo ponemos cogerá el primer formato soportado, si lo ponemos sólo usará el que hemos establecido, y si no lo encuentra no hará nada. 
         }

         Podemos añadirle más valores como font-style, font-weight y font-display(experimental), pero esos son opcionales.

*/

@font-face {
            /* nombre cualquiera */
            font-family: 'Great Vibes';
            
            /* local sirve si el usuario tiene previamente descargada la fuente */
            src: local('Great Vibes'), url(../assets/fonts/GreatVibes-Regular.ttf);
            /* caso contrario se descargar con la propiedad Url (SIEMPRE IMPORTANTE AGREGAR LA COMA DESDE DE LOCAL SI SE USA) */
         }

/* Aplicando diseño a parrafo con la fuente creada anteriormente */
.text_fontface{
    font-family: 'Great Vibes';
    font-size: 1.5rem;
}
/* 
*                                                    Transformaciones de texto

      Text-transform: Esta propiedad nos permite hacer transformaciones ESTÉTICAS en nuestro texto.
      Admite los valores:
         none: No se aplicará ninguna transformación.
         uppercase: El texto se pondrá en mayúsculas
         lowercase: El texto se pondrá en minúsculas
         capitalize: Transforma la primera letra de cada palabra en mayúscula.
   Adornos en el texto
      Text-decoration: Esta propiedad nos permite controlar la línea que podemos poner en los textos.
      Admite los valores:
         none: Elimina cualquier línea.
         underline: Coloca una linea bajo el texto.
         overline: Coloca una linea sobre el texto.
         line-through: Coloca una linea tachando el texto.

      Text-shadow: Funciona exáctamente igual que box-shadow, con la única diferencia de que no admite el valor inset ni la expansión de la sombra.
      Los valores son: 
         offsetX: desplazamiento horizontal.
         offsetY: desplazamiento vertical
         blur: desenfoque.
         color: color, por defecto coge el del texto.
*/
/* 
todo        ejemplo de text transform usando clases con el mismo nombre */
.uppercase{
    text-transform: uppercase;
}
.lowercase{
    text-transform: lowercase;
}
.capitalize{
    text-transform: capitalize;
}


/* mejorar legibilidad, parte estetica */
.container_padding{
    padding: 15px;
}

/* 
todo                aplicar adornos de texto o text decoration */
.link{
    text-decoration: none;
    color: #000;
}
.underline{
    text-decoration: underline;
}
.overline{
    text-decoration: overline;
}
.line-through{
    text-decoration: line-through;
}


/* todo aplicando text-shadow */

/* el text-shadow en comparacion al box-shadow no admite el valor inset (sombra interna) y tampoco admite el 4 valor que es una expansion de la sombra*/

/* tambien se admite valores negativos para mover la sombra hacia otra direccion. */
.text_shadow{
    /* lo obligatorio es declarar los dos primeros valores que son los desplazamientos, sin estos no va a funcionar la propiedad */
    text-shadow: 3px 8px 2px #000;

    /* tambien se puede anidar varias sombras de igual modo que el box-shadow, separandolos por una coma. 
    text-shadow: 3px 8px #000, 2px 0 #f00;
    */
}

.text_boxshadow{
    box-shadow: 3px 8px 2px #000;
}

/* 
*                                                            Espaciado en fuentes y textos

    letter-spacing: Establece la separación entre caracteres, se puede establecer en cualquier medida válida para CSS

    word-spacing: Establece la separación entre palabras,
    se puede establecer en cualquier medida válida para CSS

    line-height: Establece el alto de cada línea, se puede dar una medida concreta o se puede poner un número que se multipliará por el font size del texto al que se lo estemos aplicando.

   Orientación del texto.
   writing-mode: Establece la dirección del texto
*/


/*todo        espaciado entre caracteres */
.text_letter-spacing{
    letter-spacing: 5px;
}
/*todo        espaciado entre palabras */
.text_word-spacing{
    word-spacing: 5px;
}

/*todo       interlineado */
.text_line-hight{

    /* en este caso al introducir un 3, se esta multiplicando el valor de fuente por 3. Si la fuente equivale a los 16px por defecto, seria 16x3= 48px */
    line-height: 3;
}
/* uso de interlineado para centrar verticalmente un texto 
!solo funciona cuando es una sola linea de texto y se tiene declarado un alto (si el alto se modifica, se tiene que modificar el line-hight)*/

.text_line-height--center{
    

    /*el alto declarado es importante en este caso, ya que va a influir en el line-hight, mas adelante puede ser mas sencillo de usar mediante el uso de variables */
    height: 100px;

    

    /*se introduce el mismo alto de la caja, para centrar el contenido, en caso de cambiar el alto de la caja esto se debe cambiar tambien */
    line-height: 100px;

    /* propiedades para el diseño estetico */
    width: 300px;
    color: #000;
    text-align: center;
    background-color: snow;
    margin-left: auto;
    margin-right: auto;
}


/*todo        Orientación del texto */

.text_orientation{
    display: inline-block;
    margin-right: 210px;
    font-size: 18px;
    text-transform: uppercase;
    background-color: rgb(49, 46, 46);
}
.title_text-desing{
    margin: 45px;
}
/* vertical */

/* con esta propiedad ponemos el texto en vertical pero de izquierda a derecha (Left-Right) */
.text_vertical-lr{
    writing-mode: vertical-lr;
}
/* con esta propiedad ponemos el texto en vertical pero de derecha a izquierda (Right-Left) */
.text_vertical-rl{
    writing-mode: vertical-rl;
}

/* con esta propiedad ponemos cada letra en forma vertical, es una propiedad diferente a la anterior y de igual forma funciona totalemente diferente */
.text_word-break{

    /* con esta propiedad le decimos al texto que se rompa, y que cada letra sea independiente hasta el limite de ancho que esta declarado, en este caso 10px. Por lo que cada letra se posiciona una arriba de otra, formando un texto vertical. */
    word-break: break-all;
    width: 10px;
}