*{
    box-sizing: border-box;
}
body{
    background-color: #333;
    color: #fff;
    margin: 0;
}

/* ----------------------------------------------------------------------------------------------------------------------
                                                            MEDIDAS

  Las medidas en CSS se pueden agrupar en 2 grupos, absolutas y relativas.

  Las medidas absolutas NO CAMBIAN y siempre mantendrán su tamaño independientemente del dispositivo o la interacción del usuario.
  La más usada es px (píxeles) cuya medida es 1/96 de 1in, pero existen otras como:
      cm(centímetros) -> 1cm = 96px/2,54
      mm(milímetros) -> 1mm = 1/10 de 1cm
      Q(cuarto de de milímetro) -> 1Q = 1/40 de 1cm
      in(inches, pulgadas) -> 1in = 2,54cm = 96px
      pc(picas) -> 1pc = 1/16 de 1in
      pt(puntos) -> 1pt = 1/72 de 1in

  Las medidas relativas SIEMPRE dependen de un contexto son las que se recomienda utilizar en la gran mayoría de ocasiones porque nos van a permitir que todos los elementos escalen proporcionalemnte.
  Las más usadas son em, rem, %, vw, vh, vmin y vmax aunque tenemos otras como:
      ex -> Altura x de la fuente del elemento.
      ch -> La medida del ancho del glifo "0" de la letra del elemento.
      lh -> Altura de la línea del elemento.                                                           
*/

/* Diseño en los titulos */
.title{
    background-color: #fff;
}
h1.title{
    text-align: center;
    border: 5px solid darkred;
    color: darkred;
}
h2.title{
    border: 3px solid darkblue;
    color: darkblue;
}
h3.title{
    width: 20%;
    margin-left: auto;
    margin-right: auto;
    border: 3px solid darkcyan;
    color: darkcyan;
}
h4.title{
    width: 15%;
    margin-left: auto;
    margin-right: auto;
    border: 3px groove darkorange;
    color: darkorange;
}

/* ! diseño de texto y la lista ordenada */
.text, .list{
    background-color: silver;
    margin-left: 5%;
    margin-right: 5%;
    color: black;
    padding: 15px;
    border-radius: 3px;
}
.list_ul{
    padding-left: 0;
    list-style-type: disc;
}
.list_item{
    margin-left: 15px;
}

.container-img{
    text-align: center;
}
.img{
    border-radius: 2em;
    border: 10px solid steelblue;
    box-shadow: 10px 10px 15px 1px #000;
}

.list_item--disable{
    list-style-type: none;
}




/* .link{
    background-color: indianred;
    color: #333;
}
.link-1{
    padding: 1rem 2rem;
    border-radius: 0.5rem;
    font-size: 2rem;
}

.link-2{
    padding: 1em 2em;
    border-radius: 0.5em;
    font-size: 2rem;
} */


