*{
    box-sizing: border-box;
}
body{
    background-color: #4e4e4e;
    color: #fff;
    margin: 0;
}

/* * ----------------------------------------------------------------------------------------------------------------------
                                                                * MEDIDAS

  Las medidas en CSS se pueden agrupar en 2 grupos, absolutas y relativas.

  Las medidas absolutas NO CAMBIAN y siempre mantendrán su tamaño independientemente del dispositivo o la interacción del usuario.
  La más usada es px (píxeles) cuya medida es 1/96 de 1in, pero existen otras como:
      cm(centímetros) -> 1cm = 96px/2,54
      mm(milímetros) -> 1mm = 1/10 de 1cm
      Q(cuarto de de milímetro) -> 1Q = 1/40 de 1cm
      in(inches, pulgadas) -> 1in = 2,54cm = 96px
      pc(picas) -> 1pc = 1/16 de 1in
      pt(puntos) -> 1pt = 1/72 de 1in

  Las medidas relativas SIEMPRE dependen de un contexto son las que se recomienda utilizar en la gran mayoría de ocasiones porque nos van a permitir que todos los elementos escalen proporcionalemnte.
  Las más usadas son em, rem, %, vw, vh, vmin y vmax aunque tenemos otras como:
      ex -> Altura x de la fuente del elemento.
      ch -> La medida del ancho del glifo "0" de la letra del elemento.
      lh -> Altura de la línea del elemento.                                                           
*/

/* ? -----------------------------------------------------------------------------------------------------------------------------------
                                                                ? DISEÑO GENERAL*/
/* Diseño en los titulos */
.title{
    background-color: #fff;
}
h1.title{
    text-align: center;
    border: 5px solid darkred;
    color: darkred;
}
h2.title{
    border: 3px solid darkblue;
    color: darkblue;
}
h3.title{
    text-align: center;
    width: 20%;
    margin-left: auto;
    margin-right: auto;
    border: 3px solid darkcyan;
    color: darkcyan;
}
h4.title{
    text-align: center;
    width: 15%;
    margin-left: auto;
    margin-right: auto;
    border: 3px solid dimgrey;
    color: dimgrey;
}

.container{
    background-color:darkgray;
}
/* diseño de texto y la lista ordenada */
.text, .list{
    background-color: silver;
    margin-left: 5%;
    margin-right: 5%;
    color: black;
    padding: 15px;
    border-radius: 3px;
}

/* diseño dentro de las listas */
.list_ul{
    padding-left: 0;
    list-style-type: disc;
}
.list_item{
    margin-left: 15px;
}
.list_item--disable{
    list-style-type: none;
}

/* diseño del contenedor de la imagen */
.container-img{
    text-align: center;
}
/* diseño de la imagen */
.img{
    border-radius: 2em;
    border: 10px solid steelblue;
    box-shadow: 10px 10px 15px 1px #000;
}

/* todo -----------------------------------------------------------------------------------------------------------------------------------
                                                               todo REM Y EM */

/* 
        rem -> Corresponde a la medida de la "m" de la raiz del documento (html).

        ejemplo: 16px = 1rem
        
        em -> Corresponde a la medida de la "m" del contexto donde nos encontremos.

        El estandar del tamaño de fuente por defecto en la raiz del documento es 16px, y NO ES RECOMENDABLE MODIFICARLO.

        NOTA: Tanto "em" como "rem" se calcula en base a la propiedad font-size (tamaño de fuente)
*/
/* diseño de los contenedores de los botones*/
.container_link{
    text-align: center;
    padding: 1.5em;
}
/* diseño de los botones */
.link{
    display: inline-block;
    background-color: indianred;
    text-decoration: none;
    color: #333; 
}
/* boton con REM */
.link-1{
    padding: 1rem 2rem;
    border-radius: 0.5rem;
    font-size: 2rem;
    border: .2rem solid #333;
}
/* boton con EM */
.link-2{
    padding: 1em 2em;
    border-radius: 0.5em;
    font-size: 2rem;
    border: .2em solid #333;
}
/* preconfigurando lineas de codigo visibles en la pagina web */
pre{
    background: #2d2d2d;
    color: #f8f8f2;
    padding: 1rem;
    border-radius: 8px;
    overflow: auto;
    font-family: 'Courier New', monospace;
    font-size: 0.95rem;
    line-height: 1.5;
  }
code{
    color: #f8f8f2;
}

/* todo -----------------------------------------------------------------------------------------------------------------------------------
                                                               todo % Y AUTO */
                                                                /* en WIDTH */

/* WIDTH:
    % -> Cuando usamos porcentaje usamos de referencia el tamaño del contenedor y el navegador calcula ese porcentaje. Esto no ocurre cuando usamos transform.

    auto -> Cuando usamos auto le pedimos al navegador que calcule el ancho en función del espacio disponible.
*/
.box{
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    height: 200px;
    background-color: goldenrod;
    color: initial;
    text-align: center;
}
.box-1{
    width: 50%;
    height: 100px;
    background-color: darkred;
    padding: 5px;
    color: #fff;
}



                                                        /* en HEIGHT*/
/* HEIGHT:
    % -> Cuando estamos dentro de un contenedor, este tiene que tener un alto declarado, si no no podrá calcular el porcentaje. Si se le aplica una medida con porcentaje se sustituirá automaticamente por auto.

    auto -> Cuando utilizamos auto el alto lo calculará el navegador en base al contenido del elemento

  NOTA: Height es una propiedad que tenéis que usar con mucho cuidado. Si no es necesario establecer un alto, dejad que el contenido sea el que decida el alto del elemento. 
*/


