*{
    box-sizing: border-box;
}
body{
    background-color: #4e4e4e;
    color: #fff;
    margin: 0;
}

/* * ----------------------------------------------------------------------------------------------------------------------
                                                                * MEDIDAS

  Las medidas en CSS se pueden agrupar en 2 grupos, absolutas y relativas.

  Las medidas absolutas NO CAMBIAN y siempre mantendrán su tamaño independientemente del dispositivo o la interacción del usuario.
  La más usada es px (píxeles) cuya medida es 1/96 de 1in, pero existen otras como:
      cm(centímetros) -> 1cm = 96px/2,54
      mm(milímetros) -> 1mm = 1/10 de 1cm
      Q(cuarto de de milímetro) -> 1Q = 1/40 de 1cm
      in(inches, pulgadas) -> 1in = 2,54cm = 96px
      pc(picas) -> 1pc = 1/16 de 1in
      pt(puntos) -> 1pt = 1/72 de 1in

  Las medidas relativas SIEMPRE dependen de un contexto son las que se recomienda utilizar en la gran mayoría de ocasiones porque nos van a permitir que todos los elementos escalen proporcionalemnte.
  Las más usadas son em, rem, %, vw, vh, vmin y vmax aunque tenemos otras como:
      ex -> Altura x de la fuente del elemento.
      ch -> La medida del ancho del glifo "0" de la letra del elemento.
      lh -> Altura de la línea del elemento.                                                           
*/

/* ? -----------------------------------------------------------------------------------------------------------------------------------
                                                                ? DISEÑO GENERAL*/


/* diseño del menu de navegacion */
.header__menu{
    position: sticky;
    top: 0;
    z-index: 10;
    background-color: #fff;
    border-radius: 5px;
    border: 2px solid #333;
}
.nav__menu{
    padding: 10px;
    text-align: center;
}
.nav_menu_link{
    display: inline-block;
    text-decoration: none;
    border: 2px solid #333;
    color: #333;
    border-radius: 6px;
    padding: 5px;
    margin-left: 10px;
}
.section{
    padding-top: 40px;
}
/* titulos suspendidos */
.article-title{
    position: sticky;
    top: 60px;
}
.section-title{
    position: sticky;
    top: 60px;
}
/* Diseño en los titulos */
.title{
    background-color: #fff;
}
h1.title{
    text-align: center;
    border: 5px solid darkred;
    color: darkred;
}
h2.title{
    border: 3px solid darkblue;
    color: darkblue;
}
h3.title{
    text-align: center;
    width: 20%;
    margin-left: auto;
    margin-right: auto;
    border: 3px solid darkcyan;
    color: darkcyan;
}
h4.title{
    text-align: center;
    width: 15%;
    margin-left: auto;
    margin-right: auto;
    border: 3px solid dimgrey;
    color: dimgrey;
}

.container{
    background-color:darkgray;
}
/* diseño de texto y la lista ordenada */
.text, .list{
    background-color: silver;
    margin-left: 5%;
    margin-right: 5%;
    color: black;
    padding: 15px;
    border-radius: 3px;
}

/* diseño dentro de las listas */
.list_ul{
    padding-left: 0;
    list-style-type: disc;
}
.list_item{
    margin-left: 15px;
}
.list_item--disable{
    list-style-type: none;
}

/* diseño del contenedor de la imagen */
.container-img{
    text-align: center;
}
/* diseño de la imagen */
.img{
    width: 30rem;
    height: 20rem;
    border-radius: 2em;
    border: 10px solid steelblue;
    box-shadow: 10px 10px 15px 1px #000;
}

.img_mabsolutas{
    width: 80%;
}
/* todo -----------------------------------------------------------------------------------------------------------------------------------
                                                               todo REM Y EM */

/* 
        rem -> Corresponde a la medida de la "m" de la raiz del documento (html).

        ejemplo: 16px = 1rem
        
        em -> Corresponde a la medida de la "m" del contexto donde nos encontremos.

        El estandar del tamaño de fuente por defecto en la raiz del documento es 16px, y NO ES RECOMENDABLE MODIFICARLO.

        NOTA: Tanto "em" como "rem" se calcula en base a la propiedad font-size (tamaño de fuente)
*/
/* diseño de los contenedores de los botones*/
.container_link{
    text-align: center;
    padding: 1.5em;
}
/* diseño de los botones */
.link{
    display: inline-block;
    background-color: indianred;
    text-decoration: none;
    color: #333; 
}
/* boton con REM */
.link-1{
    padding: 1rem 2rem;
    border-radius: 0.5rem;
    font-size: 2rem;
    border: .2rem solid #333;
}
/* boton con EM */
.link-2{
    padding: 1em 2em;
    border-radius: 0.5em;
    font-size: 2rem;
    border: .2em solid #333;
}
/* preconfigurando lineas de codigo visibles en la pagina web */
pre{
    background: #2d2d2d;
    color: #f8f8f2;
    padding: 1rem;
    border-radius: 8px;
    overflow: auto;
    font-family: 'Courier New', monospace;
    font-size: 0.95rem;
    line-height: 1.5;
  }
code{
    color: #f8f8f2;
}

/* todo -----------------------------------------------------------------------------------------------------------------------------------
                                                               todo % Y AUTO */
/* Diseño de las cajas para ejemplos */
.box{
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    height: 200px;
    background-color: goldenrod;
    color: initial;
    text-align: center;
}
/* caja hijo de ejemplo */
.box-1{
    width: 50%;
    height: 100px;
    background-color: darkred;
    color: #fff;
}

                                                                    /* en WIDTH */

/* WIDTH:
    % -> Cuando usamos porcentaje usamos de referencia el tamaño del contenedor y el navegador calcula ese porcentaje. Esto no ocurre cuando usamos transform.

    auto -> Cuando usamos auto le pedimos al navegador que calcule el ancho en función del espacio disponible.
*/

/* moviendo caja de ejemplo a la izquierda para demostrar el 100% en width */
.box-1--modify-width{
    width: 100%;
    margin-left: 50px;
}
/* valores de auto en width de ejemplo*/
.box-1--modify-auto{
    width: auto;
}
/* agregando padding para mejorar visualizacion del texto                                                                    */
.box-1--padding{
    padding: 5px;
}                                                                    /* en HEIGHT*/
/*
    % -> Cuando estamos dentro de un contenedor, este tiene que tener un alto declarado, si no no podrá calcular el porcentaje. Si se le aplica una medida con porcentaje se sustituirá automaticamente por auto.

    auto -> Cuando utilizamos auto el alto lo calculará el navegador en base al contenido del elemento

  NOTA: Height es una propiedad que tenéis que usar con mucho cuidado. Si no es necesario establecer un alto, dejad que el contenido sea el que decida el alto del elemento. 
*/

/* agregar valor 100% en alto a caja de ejemplo  */
.box-1--modify-height{
    height: 100%;
}
/* margen hacia arriba de 20px para caja de ejemplo del 100% del height */
.box-1--moved{
    margin-top: 20px;
}
/* centrar dos cajas de ejemplo del height con porcentaje */
.container{
    text-align: center;
}
/* aplicar display para ubicar las cajas una al lado de la otra */
.box--display{
    display: inline-block;
    margin-right: 2em;
}
/* posicionando texto para que se vea mejor visualmente */
.box_text{
    position: absolute;
    width: 6%;
}
/* demostrando el uso de auto con height, ademas de quitar el padding usado en la clase box-1 */
.box-1--height-auto{
    height: auto;
    padding: 0;
}
/* agregando relleno al contenedor para mejora visual en ejemplo de height auto */
.container-position{
    padding-bottom: 6.5rem;
}
/* agregando modificaciones para ejemplo de caja posicionado con absolute y alto en porcentaje */
.box-1--height-position{
    position: absolute;
    width: 100px;
    height: 47.5%;
}

/* todo -----------------------------------------------------------------------------------------------------------------------------------
                                                                    /* todo VIEWPORT */
/* 
    El viewport es el área útil donde se mostrará la página web. IMPORTANTE, tened en cuenta que es el area visible sin hacer scroll.
    Podemos usar el viewport como medida de varias formas:
      vw-> Viewport Width, hace referencia al ancho del viewport. 
      vh -> Viewport Height, hace referencia al alto del viewport.
      vmax -> Utiliza el valor más grande entre el ancho y el alto del viewport.
      vmin -> Utiliza el valor más pequeño entre el ancho y el alto del viewport.

      1vw = 1% del ancho del viewport
      1vh = 1% del alto del viewport
      1vmin = 1% del valor que sea más pequeño del viewport
      1vmax = 1% del valor que sea más grande del viewport */

/* .container-cara{
    width: 100%;
    height: auto;
} */

/* -------------------------------------------------------------------------------------------------------
                                                                UNIDADES: VW Y VH */
/* agregando espacio entre ojos y boca de cara de ejemplo */
.container-ojos{
    padding-bottom: 50px;
}
/* diseño de ojos*/
.box-ojo{
    display: inline-block;
    position: relative;
    width: 10vw;
    height: 13vh;
    margin-right: 7rem;
    background-color: #fff;
    border: 0.2em solid #000;
    border-radius: 50%;
}
/* diseño de iris de los ojos */
.box-ojo_iris{
    position: absolute;
    bottom: 0;
    right: 0.7em;
    width: 4vw;
    height: 5vh;
    background-color: #000;
    border-radius: inherit;
}
/* centrando caras arreglo visual */
.container-boca, .container-boca, .container-ojos{
    padding-left: 7em;
}
/* diseño de boca */
.box-boca{
    display: inline-block;
    position: relative;
    right: 3.375rem;
    width: 28.2vw;
    height: 8vh;
    text-align: center;
    border-radius: 3em;
    background-color: #000;
}

/* -------------------------------------------------------------------------------------------------------
                                                                        
                                                            VMAX Y VMIN */
/* El funcionamiento del vmin y el vmax, va relacionado al 1% minimo/maximo que se encuentre en el ancho o alto del viewport. En este caso, los ojos tienen un comportamiento normal, debido a que el width corresponde al valor maximo de la pantalla (1366px) por esa razon tomara el valor mas alto en este caso el mismo width,  entonces si le damos un valor de 4vmax, se lo damos como porcentaje, por lo que, al mantenerse el width como valor maximo, seria 1366x0.01 = 13.66, a ese resultado se le multiplica el porcentaje que se le puso como valor maximo 4vmax, 13.66x4 = 54,64px, ese sera el valor del elemento mientras el viewport se mantenga en su valor original. */

/* agregar valor de de viewport minimo en ancho de ojo izquierdo */
.box-ojo_iris--modify{
    width: 4vmax;
}

/* mientras que por el lado del vmin, sera aplicado en su defecto al height ya que el alto es mas pequeño que el ancho (641px), por lo que al hacer los calculos, 641x0.01 = 6.41, y al multiplicarlo por el porcentaje de minimo de viewport que se le puso al alto, quedaria de la siguiente manera: 6.41x5 = 32.05px. Valor del elemento mientras se mantiene el viewport originalmente. */

/* agregar valor de viewport maximo en alto de ojo derecho */
.box-ojo_iris--modify--new{
    height: 5vmin;
}

/* todo -----------------------------------------------------------------------------------------------------------------------------------
                                                            /* todo MIN/MAX WIDTH Y HEIGHT */

        /* Limitadores al ancho y alto
            Cuando establecemos un width y/o un height con una medida que es relativa, es posible que no queramos que se respete esa medida en todos los casos.
            Para ello tenemos propiedades que limitan esas medidas:
            min-width: Indica el ancho minimo que puede alcanzar el elemento.
            max-width: Indica el ancho máximo que puede alcanzar el elemento.
            min-height: Indica el alto minimo que puede alcanzar el elemento.
            max-height: Indica el alto máximo que puede alcanzar el elemento. */

/* la imagen como ejemplo es una iglesia con valor por defecto de 640px de ancho por 480px de alto, por lo que al agregar un width del 100% indica que se usara todo el ancho de su padre, en este caso un contenedor que a su vez usa el 100% del body, por lo que no habra ninguna diferencia, ahora el height tendra un valor de 70vh lo que equivale a 70% del alto del viewport, que en pixeles vendrian siendo 448px aproximadamente. */
.img_iglesia{
    width: 100%;
    
    /* ahora al agregar los siguientes valores, se modifica el tamaño maximo y minimo del ancho de la imagen, en este caso el minimo es de 35em, y si se sabe que en EM para este momento equivale a 16px, la medida sera 35x16=560px para el ancho minimo de la imagen, mientras que en ancho maximo de 50em, siguiendo el orden vendria a ser 50x16=800px. Vendrian a ser las medidas de la imagen al momento de cambiar de tamaño de pantallas o viewports. */
    min-width: 35em;
    max-width: 50em;

    height: 70vh;

    /* caso parecido se ve en el alto, donde ya sabiendo tanto su valor por defecto, como que el em equivale a 16px, aqui seria basicamente lo mismo, 25x16=400px para el alto maximo, mientras que para el minimo seria 15x16=240px. */
    max-height: 25em;
    min-height: 15em;
}

/* otra forma de usar el min-height es por medio de emplearlo en el body, esto para que si se requiere posicionar un elemento en todo el pie de pagina, no este directamente relacionado a la cantidad de contenido que tenga la pagina, para que siempre quede posicionado en la parte inferior. */

/* para ello es necesario posicionar y darle un min-height 100vh, para que ocupe todo el alto */
body{
    position: relative;
    min-height: 100vh;
}
/* configurando un footer para que se vea en la parte inferior (no aplica en este caso ya que el contenido desplaza el footer a la parte inferior) */
footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 0.8em;
    background-color:#fff;
    color: #333;
    border: 2px solid #333;
    text-align: center;
}
/* al posicionar el body se daña esta propiedad, por lo que toca agregarle un alto */
.box-1--height-position{
    height: 47vh;
}