*{
    box-sizing: border-box;
}
body{
    background-color: #303030;
    color: #fff;
    margin: 1rem 4rem;
    font-family: "Yantramanav", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.title{
    max-width: max-content;
    margin-right: auto;
    margin-left: auto;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 2.5rem;
    margin-bottom: 2rem;
    text-shadow: 0 0 7px rgb(0, 38, 255);
    transition: all .3s ease;
}
::selection{
    background-color:gray;
    color:#000
}
.title:hover{
    
    text-decoration: underline;
    text-decoration-color: rgb(0, 38, 255);
    text-shadow: 0 0 20px rgb(0, 38, 255);
}

.content_title{
    /* width: 100%; */
    max-width: max-content;
    font-weight: 900;
    text-shadow: 0 0 7px #fff;
    text-transform: uppercase;
    transition: all .3s ease;
}
.content_title:hover{
    text-decoration: underline;
    text-decoration-color: #fff;
    text-shadow: 0 0 15px #fff;
}

p{
    font-size: 1.2rem;
    text-indent: 30px;
}

.list{
    list-style-type: none;
    padding: 0;
}
.container_list{
    background-color: #fff;
}
.content_span--color{
    background-color: black;
    padding: 3px;
    border-radius: 10px;
    transition: all .2s ease;
}
.content_span--color:hover{
    background-color: #fff;
    color: #000;
}
/* 
todo                                                                Aspectos básicos de Flex

    Para activar el modo flex, utilizaremos sobre el elemento contenedor la propiedad display, y especificaremos el valor flex o inline-flex (dependiendo de como queramos que se comporte el contenedor):

    Valor display                                   Descripción
    	                            
    inline-flex           Contenedor en línea, similar a inline-block (ocupa solo el contenido).
    flex                  Contenedor en bloque, similar a block (ocupa todo el ancho del padre).

    Por defecto, y sólo con esto, observaremos que los elementos se disponen todos sobre una misma línea. Esto ocurre porque estamos utilizando el modo flex y estaremos trabajando con ítems flexibles básicos, garantizando que no se desbordarán ni mostrarán los problemas que, por ejemplo, tienen los porcentajes sobre elementos que no utilizan flex.
 */

.flex_list{
    display: flex;
    background-color: darkblue;
}

.flex_list :nth-of-type(n){
    background-color: blue;
}

.inline-flex_list{
    display: inline-flex;
    background-color: darkred;
}

.inline-flex_list :nth-of-type(n){
    background-color: red;
}


/* 
todo                                                            Dirección de ejes

    Existen dos propiedades principales para manipular la dirección y comportamiento de los ítems a lo largo del eje principal del contenedor. Son las que veremos a continuación:

    Propiedad	                                Valor	                                        Significado
  flex-direction	            row | row-reverse | column | column-reverse	        Cambia la orientación del eje principal.


    Mediante la propiedad flex-direction podemos modificar la dirección del eje principal del contenedor para que se oriente en horizontal (valor por defecto) o en vertical. Además, también podemos incluir el sufijo -reverse para indicar que coloque los ítems en orden inverso.

    Valor	                                                Descripción
    row	                                    Eje principal en dirección horizontal.
    row-reverse	                            Eje principal en dirección horizontal invertida.
    column	                                Eje principal en dirección vertical.
    column-reverse	                        Eje principal en dirección vertical invertida.


    Esto nos permite tener un control muy alto sobre el orden de los elementos en una página. Veamos la aplicación de estas propiedades sobre el ejemplo anterior, para modificar el flujo del eje principal del contenedor: */


    .list{
        background-color: rgba(0, 0, 0, 0.5);
    }

    .flex-direction_list{
        display: flex;
    }
    .list_item{
        background-color: rebeccapurple;
        border: thin solid black;
    }

    .flex-direction_list:first-of-type{
        flex-direction: row; /*valor por defecto*/
    }
    
    .flex-direction_list:nth-of-type(2){
        flex-direction: row-reverse; /*fila invertida*/
    }

    .flex-direction_list:nth-of-type(3){
        flex-direction: column; /*columna*/
    }

    .flex-direction_list:last-of-type{
        flex-direction: column-reverse; /*columna invertida*/
    }


/* 
todo                                                                Desborde multilinea (wrap)

    En general, flex se suele utilizar para estructuras de una sola dimensión, es decir, contenedores que sólo van en una dirección. Sin embargo, existe una propiedad denominada flex-wrap con la que podemos especificar un comportamiento especial de nuestro contenedor padre.

    Si un elemento no cabe dentro de nuestro contenedor flex, por defecto, los elementos se harán más pequeños (son flexibles) para ajustarse al contenedor. Este es el comportamiento por defecto de un contenedor flex. Sin embargo, con la propiedad flex-wrap podemos cambiar este comportamiento y permitir que nuestro contenedor flex se desborde, convirtiéndose en un contenedor flex multilínea.

    Propiedad	                        Valor	                                        Significado
    flex-wrap	            nowrap | wrap | wrap-reverse	               Evita o permite el desbordamiento (multilinea).

    Los valores que puede tomar esta propiedad, son las siguientes:

    Valor	                                                                Descripción
    nowrap	                Los ítems se ajustan para ocupar el tamaño del contenedor (no permite desbordamiento en múltiples líneas).
    wrap	                Establece los ítems en modo multilínea (permite que se desborde el contenedor).
    wrap-reverse	        Establece los ítems en modo multilínea, pero en dirección inversa.

    Imagina ahora, que en nuestro contenedor flex tenemos muchos elementos, por ejemplo, 15 elementos hijos que no caben en el ancho del contenedor padre. Por defecto y siempre que pueda, flex hará más pequeños los elementos hijos para que quepan.

    Sin embargo, si especificamos wrap en la propiedad flex-wrap, lo que permitimos es que el contenedor pueda tener múltiples lineas, mostrando los ítems que quepan en la primera linea, y el resto reubicándose en las siguientes líneas, sin ajustar su tamaño. El valor wrap-reverse haría exactamente lo mismo, pero con el orden inverso. */


    .flex-wrap_list{
        display: flex; 
    }

    .flex-wrap_list .list_item{
        width: 20%;
        min-height: 5rem;
        text-align: center;
        align-content: center;
    }

    .uppercase{
        text-transform: uppercase;
    }
    .flex-wrap_list:first-of-type{
        flex-wrap: nowrap; /*valor por defecto, no permite saltos de linea*/
    }
    
    .flex-wrap_list:nth-of-type(2){
        flex-wrap: wrap; /*agrupar elementos, permitiendo multilinea al sobrepasar tamaño maximo del padre*/
    }

    .flex-wrap_list:nth-of-type(3){
        flex-wrap: wrap-reverse; /*la misma funcion de wrap solo que a la inversa*/
    }

    .flex-wrap_list:nth-of-type(4){
        width: 50%; /* ancho declarado para demostrar la flexibilidad de los elementos */
        flex-direction: row-reverse; /*La filas de forma inversa*/
        flex-wrap: wrap-reverse; /*multilinea a la inversa*/
    }

    .flex-wrap_list:nth-of-type(5){
        min-height: 20rem;
        height: 60vh;
        flex-direction: column-reverse; /*columna a la inversa*/
        flex-wrap: wrap; /*multilinea*/
    }    

/* 
    La propiedad de atajo flex-flow

    Existe una propiedad de atajo (short-hand) llamada flex-flow, con la que podemos resumir los valores de las propiedades flex-direction y flex-wrap, especificándolas en una sola propiedad y ahorrándonos utilizar las propiedades concretas. El orden es el siguiente:

    flex-flow: <flex-direction> <flex-wrap>
 */

    .flex-wrap_list:last-of-type{
        flex-flow: column nowrap;
    }   
    
    .flex-wrap_list:last-of-type .list_item{
        width: 50%;
        min-height: 1.5rem;
    }  

    /* .content_link{
        display: flex;
        width: 15%;
        margin-left: auto;
        margin-right: auto;
        justify-content: space-between;
    } */

/* 

?                                                            ALINEAR Y CENTRAR CON FLEXBOX
 

    Propiedades de alineación

    son reglas para distribuir y alinear elementos hijos dentro de un contenedor flexible.

    Estas propiedades nos permiten crear diseños fluidos y adaptables sin tener que hacer cálculos matemáticos manuales, delegando todo el trabajo pesado de posicionamiento al motor del navegador.

    Las propiedades de alineación en Flexbox se estructuran según los dos ejes de un contenedor: el Eje Principal (Main Axis) y el Eje Cruzado (Cross Axis).

    Algunas propiedades actuan en el eje principal 1️⃣
    Otras propiedades actuan en el eje secundario 2️⃣

      Propiedades                                                               Valor                                          Actúa en eje
    justify-content	                               start | end | center | space-between | space-around | space-evenly	            1️⃣
    align-items	                                   start | end | center | stretch | baseline	                                    2️⃣
    align-content	                               start | end | center | space-between | space-around | space-evenly | stretch	    2️⃣
    
    
    De esta pequeña lista, hay que centrarse en la primera y la segunda propiedad, ya que son las principales. La última propiedad, align-content solo tiene efecto si tenemos un contenedor flex multilinea.

*/

/* 
todo                                                1. Alineación en el Eje Principal (Main Axis)
    
*    justify-content

    Aplica al contenedor y define cómo se distribuyen los elementos y el espacio sobrante a lo largo del eje principal.

    - start (por defecto): Elementos al inicio del eje.
    - end: Elementos al final del eje.
    - center: Elementos centrados en el eje.
    - space-between: Primer elemento al inicio, último al final, espacio uniforme entre ellos.
    - space-around: Espacio uniforme alrededor de cada elemento (los extremos tienen la mitad de espacio).
    - space-evenly: Espacio totalmente idéntico entre elementos y bordes. 
*/

    /* DISEÑO DE CONTENEDORES Y ENLACES */

    .container{
        display: flex;
        gap: 20px;
        background-color: #000;
        padding: 1.5rem;
        border-radius: 10px;
        /* transition: all .3s ease; */
    }
    .box{
        width: 8rem;
        height: 8rem;
        background-color: rgb(70, 0, 128);
        border-radius: 2rem;
        text-align: center;
        align-content: center;
        font-size: 3rem;
    }

/* 
    #start:target ~ .container{
        justify-content: start;
    }

    #end:target ~ .container{
        justify-content: end;
    }

    #center:target ~ .container{
        justify-content: center;
    } 
    #space-between:target ~ .container{
        justify-content: space-between;
    }
    #space-around:target ~ .container{
        justify-content: space-around;
    }
    #space-evenly:target ~ .container{
        justify-content: space-evenly;
    } */


    .link_start:target ~ .container .box{
        transform: translateX(0);
        transition: .3s;
    }
    .link_end:target ~ .container .box{            
        transform: translateX(751px);
        transition: .3s;
    }
    .link_center:target ~ .container .box{
        transform: translateX(376px);
        transition: .3s;
    }

    .link_space-between:target ~ .container :first-of-type{
        transform: translateX(0);
        transition: .3s;
    }
    .link_space-between:target ~ .container :nth-of-type(2){
        transform: translateX(376px);
        transition: .3s;
    }
    .link_space-between:target ~ .container :last-of-type{
        transform: translateX(751px);
        transition: .3s;
    }


    .link_space-around:target ~ .container :first-of-type{
        transform: translateX(125px);
        transition: .3s;
    }
    .link_space-around:target ~ .container :nth-of-type(2){
        transform: translateX(375px);
        transition: .3s;
    }
    .link_space-around:target ~ .container :last-of-type{
        transform: translateX(626px);
        transition: .3s;
    }

    .link_space-evenly:target ~ .container :first-of-type{
        transform: translateX(188px);
        transition: .3s;
    }
    .link_space-evenly:target ~ .container :nth-of-type(2){
        transform: translateX(376px);
        transition: .3s;
    }
    .link_space-evenly:target ~ .container :last-of-type{
        transform: translateX(563px);
        transition: .3s;
    }



    .container-justify_section .article_justify{
        display: none;
    }
    .link_start:target ~ .container-justify_section .article_justify:first-of-type{
        display: block;
    }
    /* .link_start:target ~ .container-justify_section .article_justify:first-of-type .article_justify-list{
        display: flex;
    } */
    .link_end:target ~ .container-justify_section :nth-of-type(2){
        display: block;
    }
    .link_center:target ~ .container-justify_section :nth-of-type(3){
        display: block;
    }
    .link_space-between:target ~ .container-justify_section :nth-of-type(4){
        display: block;
    }
    .link_space-around:target ~ .container-justify_section :nth-of-type(5){
        display: block;
    }
    .link_space-evenly:target ~ .container-justify_section :last-of-type{
        display: block;
    }              

    /* .article_justify-list{
        display:flex;
        justify-content: center;
    }

    .article_justify-list .list_item{
        padding: 1.5rem;
    } */
    /* .container#ends{
        display: none;
    }

    .container#center{
        display: none;
    }

    #ends:target .container_justify {
        display: none;
    }
    .container#ends:target {
        display: flex;
    }
    .container#ends:target .box{
        transform: translateX(700px);
    } */

.container_justify-comparison{
    display: none;
}
.link:target ~ .container_justify-comparison{
    display: flex;
    justify-content: space-between;
}
.container_justify-list{
   /* background-color: gray; */
    width: 47%;
    text-align: center;
    box-shadow: 0 0 3px 3px rgba(255, 255, 255, 0.5);

}
/* h3{
    outline: 2px solid rgba(255, 255, 255, 0.5);
} */


.list_justify{
    display: flex;
    width: 100%;
    height: 12rem;
    background-color: rgba(0, 0, 0, 0.3);
    /* box-shadow: 0 0 3px 3px rgba(255, 255, 255, 0.5); */
    /* outline: 2px solid rgba(255, 255, 255, 0.5); */
}
.link_start:target ~ .container_justify-comparison .list_justify{
    justify-content: start;
}
.link_end:target ~ .container_justify-comparison .list_justify{
    justify-content: end;
}
.link_center:target ~ .container_justify-comparison .list_justify{
    justify-content: center;
}

.link_space-between:target ~ .container_justify-comparison .list_justify{
    justify-content: space-between;
}
.link_space-around:target ~ .container_justify-comparison .list_justify{
    justify-content: space-around;
}
.link_space-evenly:target ~ .container_justify-comparison .list_justify{
    justify-content: space-evenly;
}


.list_justify-column{
    flex-flow: column wrap;
}
.list_justify-row{
    flex-flow: row wrap;

}
.list_items{
    height: 2.5rem;
    background-color: rebeccapurple;
    border: thin solid black;
    text-align: center;
    align-content: center;
}

.list_justify-row .list_items{
    width: 27%;
}

.text_link{
    color: rgb(180, 105, 255);
    text-transform: uppercase;
    font-weight: 700;
}
.link{
    display: inline-block;
    text-decoration: none;
    color: hsla(0, 0%, 100%, 0.5);
    border-bottom: 1px solid hsla(0, 0%, 100%, 0.212);
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    padding: 5px 15px;
    transition: .3s;
}

.link:hover{
    color: rgba(255, 255, 255, 0.9);
    border-bottom-color: hsla(0, 0%, 100%, 0.5);
}

.link:focus{
    outline: 0;
}

.link:target{
    color: #fff;
    border-bottom: 1px solid #fff;
    background-color: rgba(0, 0, 0, 0.5);
}

.article_justify-text{
    text-indent: 0;
}

/* 
todo                                                2. Alineación en el Eje Cruzado (Cross Axis)

*   align-items

    Aplica al contenedor y controla la alineación de todos los elementos hijos en una sola línea perpendicular al eje principal.

    - stretch (por defecto): Estira los elementos para llenar todo el alto/ancho del contenedor (si no tienen dimensiones fijas).
    - start: Alinea los elementos al inicio del eje cruzado.
    - end: Alinea los elementos al final del eje cruzado.
    - center: Centra los elementos a lo largo del eje cruzado.
    - baseline: Alinea los elementos según la línea base de su texto interior.
 */

    .container_align{
        flex-direction: column;
        margin-top: 30px;
        min-height: 50rem;
        justify-content: end;
        align-items: end;
    }


